* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  margin: 0;
  text-decoration: none;
  color: inherit;
}

html,
body {
  max-width: 100vw;

  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(10, 25, 29);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

main {
  width: 100vw;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer {
  bottom: 0;
}

/*****************************************************/
/* HOME PAGE */

.top-section {
  width: 800px;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
}

.search-container {
  width: 80%;
  background-color: aliceblue;
  color: black;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  align-items: center;
  border-radius: 4px;
}

.add-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: calc(20% - 10px);
  position: absolute;
  right: 0;
  background-color: rgb(110, 97, 60);
  border-radius: 4px;
}

/*****************************************************/
/* EDIT PAGE */
.edit-container {
  width: 800px;
}

.edit-top-section {
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.change-button {
  display: flex;
  height: 50px;
  padding: 0px 10px;
  align-items: center;
  color: aliceblue;
  background-color: rgb(156, 155, 94);
  border-radius: 4px;
}

.back-button {
  display: flex;
  height: 50px;
  padding: 0px 10px;
  align-items: center;
  background-color: rgb(56, 83, 107);
  border-radius: 4px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-container input,
.text-container textarea {
  padding: 8px 12px;
  font-size: larger;
  border-radius: 4px;
}

/*****************************************************/
/* LIST ITEM */

.list-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 20px;
}

.listItem-container {
  background-color: rgb(64, 77, 82);
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 10px;
  border-radius: 4px;
  align-items: center;
}

.listItem-container .text {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 10px;
  border-radius: 4px;
  align-items: center;
}

.listItem-container h1 {
  font-size: 1.5rem;
  padding-right: 10px;
  border-right: 1px solid white;
}

.listItem-container h2 {
  font-size: 1rem;
}

.remove-button {
  background-color: rgb(172, 43, 43);
  padding: 12px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

/* Buttons */
.back-button:hover,
.remove-button:hover,
.change-button:hover,
.add-container:hover {
  filter: brightness(0.8);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}